@import "gobal_setting.css";

/*images*/
.img-full {
    width: 100%;
}

/*breadcrumb*/
.breadcrumb {
    margin: 0px;
    padding: 12px 8%;
    background-color: var(--primary-50);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url(../img/breadcrumb_navigate.svg);
    padding-top: 4px;
}

.breadcrumb-item.active {
    color: var(--gray-800);
}

.breadcrumb-item a {
    color: var(--primary-600);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--primary-400);
}

/*title*/
.title {
    margin: 44px 0px 48px 0px;
    display: flex;
    color: var(--primary-600);
}

.title img {
    height: 36px;
    width: 36px;
    margin-right: 16px;
}

/*divider*/
.divider {
    height: 1px;
    width: 100%;
    background-color: var(--gray-400);
}

/*button*/

.btn-primary {
    width: 254px;
    padding: 10px 0px;
    background-color: var(--primary-600);
    border: none;
}

.btn-primary:hover {
    background-color: var(--primary-500);
}

.btn-link {
    color: var(--primary-600);
    text-decoration: none;
}

.btn-link:hover {
    color: var(--primary-500);
}

/*p3 course box*/

.p3_course--wrap {
    height: 380px;
    max-width: 325px;
    margin: 22px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.p3_course--cover {
    border-radius: 8px;
    overflow: hidden;
}

.p3_course--cover-img {
    width: 100%;
}

.p3_course--tag {
    display: flex;
    margin: 12px 0px;
}

.p3_course--tag-item {
    color: var(--primary-600);
    border: 1px solid var(--primary-600);
    border-radius: 50px;
    margin-right: 8px;
    padding: 2px 12px;
}

.p3_course--title {
    color: var(--gray-800);
    margin-bottom: 8px;
}

.p3_course--content {
    color: var(--gray-500);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.p3_course--inner-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p3_course--providers {
    display: flex;
    align-items: center;
    color: var(--gray-600);
}

.p3_course--providers-icon {
    overflow: hidden;
    border-radius: 50px;
    margin-right: 12px;
}

.p3_course--cost {
    color: var(--primary-600);
}

/* teacher */
.p3_provider--wrapper {
    background-color: #fff;
    border-radius: 4px;
    border-top: 3px solid var(--primary-600);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p3_provider--wrapper .p3_provider--avatar img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.p3_provider--wrapper .p3_provider--title {
    font-size: 12px;
    color: var(--primary-600);
    margin-bottom: 4px;
}

.p3_provider--wrapper .p3_provider--name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}

.p3_provider--wrapper .p3_provider--intro {
    font-size: 12px;
    color: #606060;
    margin-bottom: 8px;
}

.p3_provider--wrapper .p3_provider--skill-title {
    width: 100%;
    color: #8A8D8F;
    padding-bottom: 4px;
    border-bottom: 1px solid #8A8D8F;
    margin-bottom: 4px;
}

.p3_provider--wrapper .p3_provider--skill {
    color: #8A8D8F;
    font-size: 10px;
}